<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>搜索引擎</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<link href="css/bootstrap-theme.css" rel="stylesheet" />
	<link href="css/bootstrap.css" rel="stylesheet" />
	<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,200italic,600italic&subset=latin,vietnamese' rel='stylesheet'
	 type='text/css'>

	<script src="http://phuonghuynh.github.io/js/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="http://phuonghuynh.github.io/js/bower_components/d3/d3.min.js"></script>
	<script src="http://phuonghuynh.github.io/js/bower_components/d3-transform/src/d3-transform.js"></script>
	<script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/extarray.js"></script>
	<script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/misc.js"></script>
	<script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/micro-observer.js"></script>
	<script src="http://phuonghuynh.github.io/js/bower_components/microplugin/src/microplugin.js"></script>
	<script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/bubble-chart.js"></script>
	<script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/central-click/central-click.js"></script>
	<script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/lines/lines.js"></script>
	<script src="js/index.js"></script>

	<script>
		var app = angular.module("myData", []);
		app.controller('copy', function ($scope) {
			$scope.jobCategory = [{
				id: '1',
				value: '教师'
			}, {
				id: '2',
				value: '程序员'
			}, {
				id: '3',
				value: '工程师'
			}];

			$scope.Result = [{
				id: '1',
				title: '我是测试标题1',
				company: '华联超市1',
				need: '1',
				summary: '劳资！我是测试结果；我是测试结果；我是测试结果；我是测试结果；1'
			}, {
				id: '2',
				title: '我是测试标题2',
				company: '华联超市2',
				need: '2',
				summary: '会！我是测试结果；我是测试结果；我是测试结果；我是测试结果；我是测试结果；2'
			}, {
				id: '3',
				title: '我是测试标题3',
				company: '华联超市3',
				need: '3',
				summary: '遍历！我是测试结果；我是测试结果；我是测试结果；我是测试结果；我是测试结果；3'
			},
			{
				id: '3',
				title: '我是测试标题3',
				company: '华联超市3',
				need: '3',
				summary: '数据！我是测试结果；我是测试结果；我是测试结果；我是测试结果；我是测试结果；3'
			}];

		});
	</script>

	<style>
		* {
			margin: 0;
			padding: 0;
		}
		
		.bubbleChart {
			min-width: 100px;
			max-width: 700px;
			height: 700px;
			margin: 0 auto;
		}
		
		.bubbleChart svg {
			background: #F2F2F2;
		}
		
		.promptStyle {
			border: solid 1px lightgray;
			width: 200px;
			height: 150px;
			visibility: hidden;
			background-color: #F5FFFA;
			position: absolute;
			font-size: 13px;
			color: slategray;
		}
		
		.category {
			float: left;
			margin-right: 40px
		}
		
		.select {
			width: 80px;
			height: 30px;
			background-color: white
		}
		
		a {
			text-decoration: none;
		}
		
		.homefont {
			font-style: oblique;
			/*font-size: 20px;*/
			font-weight: bold;
		}
	</style>
</head>

<body>

	<div ng-app="myData">
		<div>
			<!--描述：每个页面的头部 **********************-->
			<br/>
			<div>
				<div style="width: 1200px;height: 25px;margin: auto;padding:6px;">
					<div class="row">

						<div class="col-lg-1">
							<a href="SearchHome.html" class="homefont" style="	text-decoration: none;">搜索引擎</a>
						</div>

						<div class="col-lg-5">
							<iframe width="450" scrolling="no" height="18" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&icon=1&wind=0&num=2"></iframe>
						</div>

					</div>

				</div>
				<hr />
			</div>
			<!--**********头部结束********************************-->


			<!--**********一堆搜索框*************************-->
			<div style='height: 120px;width: 1200px;margin: auto' }>

				<script type="text/javascript">
					//传入 event 对象
					function ShowPrompt(objEvent) {
						var divObj = document.getElementById("promptDiv");
						divObj.style.visibility = "visible";

						//使用这一行代码，提示层将出现在鼠标附近(如要使用，记得注释 divOjb.style.left = 60+5;  这一句)

						//divObj.style.left = objEvent.clientX + 5;   //clientX 为鼠标在窗体中的 x 坐标值       
						divObj.style.left = 60 + 5;
						divObj.style.top = objEvent.clientY + 5;     //clientY 为鼠标在窗体中的 y 坐标值
					}

					//隐藏提示框

					function HiddenPrompt() {
						divObj = document.getElementById("promptDiv");
						divObj.style.visibility = "hidden";
					}

					function Show_job(objEvent) {
						var divObj = document.getElementById("category_job");
						divObj.style.visibility = "visible";

						//使用这一行代码，提示层将出现在鼠标附近(如要使用，记得注释 divOjb.style.left = 60+5;  这一句)

						//divObj.style.left = objEvent.clientX + 5;   //clientX 为鼠标在窗体中的 x 坐标值       
						divObj.style.left = 60 + 5;
						divObj.style.top = objEvent.clientY + 5;     //clientY 为鼠标在窗体中的 y 坐标值
					}

					//隐藏提示框

					function Hidden_job() {
						divObj = document.getElementById("category_job");
						divObj.style.visibility = "hidden";
					}
				</script>






				<!-- 选择地点 滑框-->
				<div class="category" style='margin-left: 100px;' onmouseover="ShowPrompt(event)" onmouseout="HiddenPrompt()">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     				 	地点
      				<span class="caret"></span>
    				</button>
					</div>

					<div id="promptDiv" class="promptStyle">
						<p>热门城市</p>
						<p>
							<span>北京&nbsp;</span>
							<span>上海&nbsp;</span>
						</p>
					</div>
				</div>


				<!-- 选择行业 滑框-->
				<div class="category" onmouseover="Show_job(event)" onmouseout="Hidden_job()">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     				 	行业
      				<span class="caret"></span>
    				</button>
					</div>

					<div id="category_job" class="promptStyle">
						<p>热门行业</p>
						<p><span>教师&nbsp;</span><span>教师&nbsp;</span></p>
					</div>
				</div>

				<!-- 选择薪资 -->
				<div class="category">
					<select class="select" ng-controller="copy">
							<option value='default' selected = "selected">&nbsp;&nbsp;&nbsp;薪资 </option>
  						<option value ="volvo" ng-repeat="item in jobCategory">{{item.value}}&nbsp;</option>
						</select>
				</div>


				<!-- 选择学历 -->
				<div class="category">
					<select class="select" ng-controller="copy">
							<option value='default' selected = "selected">&nbsp;&nbsp;&nbsp;学历 </option>
  						<option value ="volvo" ng-repeat="item in jobCategory">{{item.value}}&nbsp;</option>
						</select>
				</div>

				<!-- 选择工作经历 -->
				<div class="category">
					<select class="select" ng-controller="copy">
							<option value='default' selected = "selected">工作经历 </option>
  						<option value ="volvo" ng-repeat="item in jobCategory">{{item.value}}&nbsp;</option>
						</select>
				</div>


				<!-- 搜索 -->
				<a href="SearchResult.html">
					<div class="category" style='margin-left: 100px;width: 300px'>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="请输入..." aria-describedby="basic-addon2">
							<span class="input-group-addon" href="SearchResult.html" id="basic-addon2">搜索</span>
						</div>
					</div>
				</a>

			</div>
			<!--*************一堆搜索框结束*******************-->

			<!-- *****************中间开始***************** -->

			<div style="min-height: 600px;width: 1200px; margin: auto;">

				<!-- ****单条结果开始 ****-->
				<div ng-controller="copy">
					<a href="SearchDetail.html" style="text-decoration: none;color:black" target="_blank">
						<div style="height: 90px;width: 1000px; margin: auto;padding: 10px;border-bottom: solid 1px lightgrey" for="" ng-repeat="item in Result">

							<p>{{item.title}}</p>
							<div style="height: 40px;margin-left: 20px;">
								<span>{{item.company}}<span>招({{item.need}})人</span></span>
								<p>{{item.summary}}</p>
							</div>
						</div>
					</a>
				</div>
				<!-- ****单条结果结束 ****-->
			</div>

			<!-- *****************中间结束***************** -->

			<!-- **************分页**************-->
			<div style="margin: auto;width: 1000px;">
				<hr/>
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>


				<nav aria-label="...">
					<ul class="pager">
						<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> 上一页</a></li>
						<li class="next"><a href="#">下一页 <span aria-hidden="true">&rarr;</span></a></li>
					</ul>
				</nav>

			</div>

			<!-- **************分页结束************** -->



			<!--描述：每个页面的脚部 **************-->
			<div style="width: 1200px;height: 25px;margin: auto;padding:6px;">
				<hr />
				<div style='width: 180px;font-size: 14px;margin: auto;'>
					<p>
						<a href="https://user.qzone.qq.com/1031778303/infocenter?ptsig=6tGcnT*5hLdAql-GuoSgXYjnL9PwD5oz6i3yFS0ruqY_" style='text-decoration: none;color: #333399'
						 target="_blank">
						@郭润和
						</a> &nbsp;搜索引擎&nbsp;毕业设计
					</p>️
				</div>
			</div>
			<!--********************************-->



		</div>
</body>

</html>